In [7]:
#importing np and pd
import numpy as np
import pandas as pd

In [8]:
price_houses = np.random.randint(4000, 20000, size=120)
price_houses

array([ 4639, 16119,  7984, 15796,  8740,  4690,  9323, 18573,  7285,
       16505,  4426,  4324,  7683,  7395, 11617, 19894,  7953,  7947,
        9902, 19077, 10676,  4328, 18358, 11015, 17422, 13959,  7184,
        8404, 17705, 13298,  9949, 12679, 13178,  6666,  7134, 18973,
        5966, 12959,  4092, 11232, 10605, 19972,  5153,  4273,  7865,
       17560,  6277, 11330, 11542, 19440,  7765,  5739,  8578, 17401,
       14569, 17902,  4064,  5984, 12913, 11643, 19684, 15514,  6745,
        6389,  7427, 18806, 13065, 16516, 11854,  5035, 18432, 18120,
       13995,  9402, 17354, 14577, 11031,  9796, 15022, 16550,  9978,
       19088, 15876, 18454, 16910, 13705, 16175,  8284,  8321, 12436,
       19620,  4797,  6940, 11804, 19007,  9761, 13586,  5366, 18998,
       17405,  9920, 19522,  8485, 17155,  7235, 18275, 16330,  7556,
       16895,  7155, 17310,  4880,  7181,  7585,  6136, 16748, 17644,
        8068, 18581, 19709])

In [9]:
# create a series
numbers= pd.Series(price_houses , name="Prices")
numbers

0       4639
1      16119
2       7984
3      15796
4       8740
       ...
115    16748
116    17644
117     8068
118    18581
119    19709
Name: Prices, Length: 120, dtype: int64

In [10]:
#display first 7
numbers.head(7)

0     4639
1    16119
2     7984
3    15796
4     8740
5     4690
6     9323
Name: Prices, dtype: int64

In [11]:
#display tail 7
numbers.tail(7)

113     7585
114     6136
115    16748
116    17644
117     8068
118    18581
119    19709
Name: Prices, dtype: int64

In [12]:
#creating a fuction that returns prices of a housing
def house_categories(price):
    if price >15000:
        return "Leafy Surburb"
    elif (price>5000) and (price<=15000):
        return "Middle class"
    else:
        return "Lower class"

house_categories(15500)

'Leafy Surburb'

In [13]:
# applying the function to series
housing_categories= pd.Series(price_houses).apply(house_categories)
housing_categories

0        Lower class
1      Leafy Surburb
2       Middle class
3      Leafy Surburb
4       Middle class
           ...
115    Leafy Surburb
116    Leafy Surburb
117     Middle class
118    Leafy Surburb
119    Leafy Surburb
Length: 120, dtype: object

In [14]:
#applying the 10% increament
house_levy=pd.Series(price_houses).apply(lambda price:price*1.10)
house_levy

0       5102.9
1      17730.9
2       8782.4
3      17375.6
4       9614.0
        ...
115    18422.8
116    19408.4
117     8874.8
118    20439.1
119    21679.9
Length: 120, dtype: float64

In [15]:
# Icreasing price by addittional garbage of 250
house_levy_garbage =house_levy.apply(lambda price:price+250)
house_levy_garbage

0       5352.9
1      17980.9
2       9032.4
3      17625.6
4       9864.0
        ...
115    18672.8
116    19658.4
117     9124.8
118    20689.1
119    21929.9
Length: 120, dtype: float64

In [16]:
namings = { "h_prices" : numbers,
        "H_categories" : housing_categories,
        "H-levy" : house_levy,
        "H_garbage" : house_levy_garbage


}
namings

{'h_prices': 0       4639
 1      16119
 2       7984
 3      15796
 4       8740
        ...
 115    16748
 116    17644
 117     8068
 118    18581
 119    19709
 Name: Prices, Length: 120, dtype: int64,
 'H_categories': 0        Lower class
 1      Leafy Surburb
 2       Middle class
 3      Leafy Surburb
 4       Middle class
            ...
 115    Leafy Surburb
 116    Leafy Surburb
 117     Middle class
 118    Leafy Surburb
 119    Leafy Surburb
 Length: 120, dtype: object,
 'H-levy': 0       5102.9
 1      17730.9
 2       8782.4
 3      17375.6
 4       9614.0
         ...
 115    18422.8
 116    19408.4
 117     8874.8
 118    20439.1
 119    21679.9
 Length: 120, dtype: float64,
 'H_garbage': 0       5352.9
 1      17980.9
 2       9032.4
 3      17625.6
 4       9864.0
         ...
 115    18672.8
 116    19658.4
 117     9124.8
 118    20689.1
 119    21929.9
 Length: 120, dtype: float64}

In [18]:
#Creating data frame
moringa = pd.DataFrame(namings)
moringa

     h_prices   H_categories   H-levy  H_garbage
0        4639    Lower class   5102.9     5352.9
1       16119  Leafy Surburb  17730.9    17980.9
2        7984   Middle class   8782.4     9032.4
3       15796  Leafy Surburb  17375.6    17625.6
4        8740   Middle class   9614.0     9864.0
..        ...            ...      ...        ...
115     16748  Leafy Surburb  18422.8    18672.8
116     17644  Leafy Surburb  19408.4    19658.4
117      8068   Middle class   8874.8     9124.8
118     18581  Leafy Surburb  20439.1    20689.1
119     19709  Leafy Surburb  21679.9    21929.9

[120 rows x 4 columns]